
@font-face {font-family: 'iconfont';
    src: url(./fonts/buyer/iconfont.eot); /* IE9*/
    src: url('fonts/buyer/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url(http://fonts.googleapis.com/css?family=Condiment) format('woff'), /* chrome、firefox */
    url(./fonts/iconfont.ttf) format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url(./fonts/buyer/iconfont.svg) format('svg'); /* iOS 4.1- */
}
/*@font-face{font-family:Muiicons;font-weight:400;font-style:normal;src:url(./fonts/iconfont.ttf) format('truetype')}*/


.mui-bar-nav{
	background: #ff7f00;
}
.mui-btn{
	border: none;
}
.mui-title{
	color: #fff;
}
.mui-bar-nav{
	box-shadow: none;
}
/*fixed position*/
.mc{ margin:0 auto}
.tl{ text-align:left}
.tc{ text-align:center}
.tr{ text-align:right}
.bc{ margin:0 auto}
.fl{ float:left;}
.fr{ float:right;}
.cb{ clear:both}
.cl{ clear:left}
.cr{ clear:right}
.clear:after,.clear:before{content:" "; display: table; }
.clear:after{clear: both;}
.vm{ vertical-align:middle}
.vt{ vertical-align:top}
.vb{ vertical-align:bottom}
.pr{ position:relative}
.pa{ position:absolute}
.pf{ position:fixed}
.cp{ cursor:pointer}
.abs-right{ position:absolute; right:0}
.zoom{ zoom:1}
.vhidden{ visibility:hidden}
.dis_block{ display:block}
.dis_inline{display: inline-block}
.hide{display: none;}
.oh{ overflow:hidden}.oa{ overflow:auto}
.ellipsis{display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.line-through { text-decoration:line-through}
/*清除浮动*/
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{display:inline-table}
*html .clearfix{height:1%}
.clearfix{display:block}
*+html .clearfix{min-height:1%}
/*背景*/
.bg_c{ background:#ccc}
.bg_f{ background:#fff}
.bg_ff6{background: #FF6600}
.bg_ff7{background: #ff7f00;}
.bg_c22{background: #c2291e}

/*字体颜色*/
.c_94{color: #949494;}
.c_77{color: #777777;}
.c_64{color: #646464;}
.c_55{color: #555555;}
.c_46{color: #464646;}
.c_44{color: #444444;}
.c_32{color: #323232;}
.c_ccc{color: #ccc;}
.c_fff{color: #fff;}
.c_c22{color: #c2291e}
.c_ff6{color: #FF6600}
.c_639{color: #6391c7}
.c_696{color:#696969}
.c_ff7{color:#ff7f00}
.c_333{color:#333333}
.c_666{color:#666666}
.c_999{color:#999999}
.c_e43{color:#e4393c}


/*字体大小*/
.fb{font-weight: bold}
.f12{font-size: 12px}
.f14{font-size: 14px}
.f15{font-size: 15px}
.f18{font-size: 18px}